

body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
     width: 100%;
    height: 60px;
    display: flex;
    border: 2px solid grey;
    background-color: grey;
    
}

header .containerBrand{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

header .containerBrandImg{
   transform: scale(0.6);
}


header .containerItemList{

    width: 70%;
    height: 100%;
    
    

}
header .containerItemList ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
   
    
}
header .containerItemList ul li{
   margin: 10px;
   color: orange;
}

header .containerCart{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
   
}
header .containerCart .containerLength{
    transform: scale(1.70);
    margin-top: 22px;
    align-items: center;
    position: relative;
    
}


